.button {
  padding: 20px 32px;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 18px;
  font-weight: 600;
}

.button-card {
  padding: 10px;
}

.inactive {
  background-color: var(--tertiary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}
