:root {
  --primary-color: rgb(35, 35, 35);
  --secondary-color: rgb(214, 255, 121);
  --tertiary-color: rgb(31, 38, 44);
  --primary-font: "Arimo", Arial, Helvetica, sans-serif;
  --secondary-font: "Bricolage Grotesque", Arial, Helvetica, sans-serif;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4 {
  font-family: var(--secondary-font);
}

body {
  margin: 0;
  background-color: var(--primary-color);
}

ul,
ol,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

button {
  font-family: var(--secondary-font);
  border: none;
  background-color: transparent;
  cursor: pointer;
}

input {
  border: none;
  background-color: transparent;
  font: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
