.main-container {
  padding: 160px 20px 90px 20px;
  margin: auto;
  max-width: 800px;
  min-height: 100vh;
}

.toast {
  border-radius: 8px;
  max-width: 360px;
  margin: auto;
  margin-top: 160px;
}
