.nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
  padding: 20px;
}

.nav__link.active {
  border-bottom: 3px solid black;
}

.nav__link {
  padding-bottom: 4px;
}
