.detail {
  color: white;
  margin-top: 55vh;
  padding: 0 20px;
}

.main-container:has(> .detail-page) {
  padding-left: 0;
  padding-right: 0;
  position: relative;
}
.detail__filter {
  position: absolute;
  width: 100%;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), rgb(0, 0, 0, 1));
  left: 0;
  overflow: hidden;
  top: 300px;
  z-index: -1;
  bottom: 0;
}

.detail__image-container {
  position: fixed;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: -1;
}

.detail__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.detail__title {
  font-size: 38px;
  margin-top: 0;
}

.detail__location {
  display: inline;
  background-color: var(--tertiary-color);
  padding: 5px 15px;
  font-weight: 100;
  font-size: 16px;
  line-height: 35px;
}

.detail__description {
  margin-top: 50px;
  line-height: 25px;
}

.detail__actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 60px;
}

.detail__actions > .unselected {
  background-color: var(--tertiary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}

.detail__actions > .unselected,
.detail__actions > .selected {
  width: 175px;
  height: 64px;
}
