.header {
  position: fixed;
  width: 100%;
  padding: 0 20px;
  background-color: var(--secondary-color);
  z-index: 99;
}

.title-container,
.link-container {
  display: flex;
  padding: 20px 0;
  align-items: center;
}

.title-container {
  justify-content: space-between;
  border-bottom: 2px solid black;
}

.link-container {
  justify-content: center;
  gap: 50px;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 18px;
}
