.footer {
  padding: 20px;
  padding-bottom: 4px;
  background-color: var(--secondary-color);
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 10;
  width: 100%;
  margin-top: auto;
}

.footer__title {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
}

.footer > div {
  display: flex;
  flex-direction: column;
}

.footer__copyright {
  margin-top: 16px;
  align-self: center;
  font-size: 12px;
}
