.login-title {
  font-size: 35px;
  color: white;
  font-weight: 200;
}

.login-title-span {
  font-size: 65px;
  font-weight: bold;
}

.login-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.login-description {
  font-family: var(--secondary-font);
  color: white;
  font-weight: 100;
  font-size: 20px;
  margin-top: 40px;
}

.inactive {
  background-color: var(--tertiary-color);
  color: white;
  border: 1px solid var(--secondary-color);
}
